* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
	width: 100%;
	height: 70px;
	background: black;
}

.header__content {
	border: 1px solid red;
	width: 100%;
	height: 80%;
	display: flex;
	color: white;
}

.menu-right {
	float: right;
}

.profile-section {
	border: 1px solid red;
}