* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
	font-family: sans-serif;
}

body {
	line-height: 1.5;
	font-size: 14px;
	color: #24292e;
}


/****************************************
	TOP NAV
****************************************/

/* Top Nav Container */
/*-------------------------------------*/
.top-nav {
	background: black;
	color: white;
	height: 50px;
	width: 100%;
	margin: 0 auto;
	display-flex: flex;
	flex-direction: row;
}

.top-nav__text {
	color: #fffffe;
}

/* Top Nav Left */
/*-------------------------------------*/
.top-nav---left {
	border: 2px solid blue;
	display: flex;
	height: 50px;
}

/* GitHub Icon */
#github-icon {
	font-size: 2em;
	color: #fffffe;
}

/* Profile Search Bar */
.profile-search {
	height: 30px;
	width: 300px;
	border-radius: 3px;
	background: #40464a;
	color: #929597;
	padding: 7px;
	font-size: 13px;
	border: none;
}

/* Top Nav Text */
.top-nav__text {
	/*padding: 0 5px*/
}

/* Top Nav Right*/
/*-------------------------------------*/
.top-nav--right {
	text-align: right;
	margin-right: ;
}

/* Bell Icon */
#bell-icon {
	font-size: 17px;
	color: #fffffe;
	padding: 0 5px;
}

/* Plus Symbol Icon */
#plus-icon {
	font-size: 17px;
	color: #fffffe;
	padding: 0 5px;
}

/* Top Nav Avatar */
.top-avatar {
	width: 20px;
	border-radius: 5px;
	margin: 0 5px;
}


/****************************************
	PROFILE CONTENT
****************************************/

/* Main Container */
/*-------------------------------------*/
.profile-container {
	display: flex;
	background: #fffffe;
	width: 1000px;
	margin: 0 auto;
}

/* Profile Info */
/*-------------------------------------*/
.profile {
	width: 225px;
	height: 360px;
	border-bottom: 1px solid #eee;
}

.main-avatar {
	width: 225px;
	border-radius: 10px;
}

.name {
	font-size: 25px;
	border-radius: 10px;
}

.profile-name {
	color: #666666;
	font-size: 25px;
}

.bio {
	width: 225px;
	height: 35px;
	background: #eee;
	border-radius: 4px;
}

.data {
	width: 696px;
}


/****************************************
	REPO CONTENT
****************************************/

/* Repo Container */
/*-------------------------------------*/
.repo-container {
	height: 1000px;
	display: flex;
	flex-wrap: wrap;
}

.repo-bar {
	width: 696px;
	height: 45px;
	display: flex;
	border-bottom: 1px solid #eee;
}

.repo-search {
	height: 30px;
	width: 380px;
}

.repo-new {
	height: 30px;
	border-radius: 3px;
	/*background: #eee;*/
	color: white;
}

.repos {
	width: 696px;
	height: 75px;
	border-bottom: 1px solid #eee;
	/*color: #eee;*/
}

.repo-name {
	color: black;
}

.repo-language {
	font-size: 14px;
}